{
  "presets": [
	  ["@babel/env", { 
		targets: { /* your targeted browser */ },
		useBuiltIns: "usage",
		corejs: 3  // <----- specify version of corejs used
	  }],
	  "@babel/typescript",
	  "@babel/react"
  ],
  "plugins": [
	  "@babel/proposal-class-properties",
	  "@babel/proposal-object-rest-spread"
  ],
  "sourceType": "unambiguous"
}